.integer{
  background-image: url("../img/integer/Group 7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.setting{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 70px;
}
.metodic{
  max-width: 330px;
  color: white;
  padding:200px 50px;
  &__content{
    font-family: Cardo, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }
  &__description{
    text-transform: uppercase;
    font-family: Raleway, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 15px auto 0;
  }
}
.hidden{
  opacity:0;
}
