.integer{
  max-width: 1510px;
  margin:0 auto;
  background-color: #5c3249;
  display: flex;
  justify-content: space-between;
  img{
    width: 741px;
    height: 100%;
  }
}

.metodic{
  max-width: 470px;
  color: white;
  align-self: center;
  margin:8px 170px 0 0;
  &__content{
    font-family: Cardo, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  &__description{
    text-transform: uppercase;
    font-family: Raleway, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 24px auto 0;
  }
}
@media(max-width: 1510px){
  .integer{
    max-width: 1024px;
    margin: 0 auto;
  }
  .setting{
    img{
      max-width: 502px;
      max-height: 100%;
    }
  }
  .metodic{
    max-width: 330px;
    margin:0 105px 56px 0;

    &__content{
      font-size: 24px;
    }
    &__description{
      font-size: 12px;
      margin-top: 15px;
    }
  }
}
@media(max-width: 1024px){
  .integer{
    flex-direction: column;
    max-width: 502px;
    img{
      max-width: 100%;
    }
  }
  .metodic{
    max-width: 275px;
    margin: 0;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 30px;
  }
}

